body {
    background-image: url(bb1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

body>div  {
    overflow-y: scroll;
    overflow-x: hidden;
}